/* * {
    margin:0;
    padding: 0;
    box-sizing: border-box;
} */


/* --------------------------------------------- */
/* click on @IMPORT, and paste the following code... */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    /* src indique la ressource qui contient les données pour la police d'écriture */
    /* cela peut être une URL vers un fichier distanc ou le nom d'une police de caractère */
    /* qui est présente sur l'ordinateur de l'utilisateur */
    /* on peut fournir une indication de format au navigateur */
    /* afin que celui-cei sélectionne celui qui lui convient le mieux */
    /* sous la forme d'une fonction "format()" qui contient le type comment argument: */
    /* donc, ici 2 SRC proposées */
    font-family: sigmar_one;
    src: url("./font/Sigmar_One/SigmarOne-Regular.eot") format("eot"); /* IE9 Compact Modes */
    src: url("./font/Sigmar_One/SigmarOne-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("./font/Sigmar_One/SigmarOne-Regular.woff2") format("woff2"), /* super modern browsers */ 
         url("./font/Sigmar_One/SigmarOne-Regular.woff") format("woff"), /* pretty modern browsers */
         url("./font/Sigmar_One/SigmarOne-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
         url("./font/Sigmar_One/SigmarOne-Regular.svg") format("svg"); /* Legacy iOS */
}

@font-face {
    font-family: "Cabin Regular";
    src: 
    local("Cabin regular"), local("Cabin-Regular") 
    url("https://themes.googleusercontent.com/static/fonts/cabin/v4/JEgmtEDzc-IH8jBshQXrYA.woff") 
    format("woff");
    font-weight: 400;
    font-style: normal;
}


/* --------------------------------------------- */
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
}
p {
    font-family: "sigmar_one";
}
span {
    font-family: "Cabin";
}